@model RaunstrupAuth.Models.Medarbejder

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Medarbejder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            @* bare et input felt som kan tage værdien or sende til controleren *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Navn" class="control-label"></label>
                <input asp-for="Navn" class="form-control" />
                <span asp-validation-for="Navn" class="text-danger"></span>
            </div>
            @* det her er hvor vi kalder den viewbag som er metoden der er lavet i controlleren som gør vi kan vælge adresse ved navn *@
            <div class="form-group">
                <label asp-for="A" class="control-label">Adresse</label>
                <select asp-for="Aid" class="form-control" asp-items="ViewBag.Aid">
                    <option value="">Vælg adresse</option>
                </select>
                <span asp-validation-for="Aid" class="text-danger"></span>
            </div>
            @* bare et input felt som kan tage værdien or sende til controleren *@
            <div class="form-group">
                <label asp-for="Tlf" class="control-label"></label>
                <input asp-for="Tlf" class="form-control" />
                <span asp-validation-for="Tlf" class="text-danger"></span>
            </div>
            <div class="form-group">
                @* bare et input felt som kan tage værdien or sende til controleren *@
                <label asp-for="Udd" class="control-label">Uddannelse</label>
                <input asp-for="Udd" class="form-control" />
                <span asp-validation-for="Udd" class="text-danger"></span>
            </div>
            @* bare et combo felt som kan tage værdien or sende til controleren *@
            <div class="form-group">
                <label asp-for="Fudd" class="control-label">Færdiguddannet</label>
                <select asp-for="Fudd" class="form-control">
                    <option value="True">Ja</option>
                    <option value="False">Nej</option>
                </select>
                <span asp-validation-for="Fudd" class="text-danger"></span>
            </div>
            @* det her er hvor vi kalder den viewbag som er metoden der er lavet i controlleren som gør vi kan vælge speciale ved navn *@
            <div class="form-group">
                <label asp-for="Spid" class="control-label">Speciale Id</label>
                <select asp-for="Spid" class="form-control" asp-items="ViewBag.Spid"></select>
            </div>
            @* laver en tabel med data fra flere tabeler og bruger en foreach til at delle alt dataen ud i viewet *@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
