@model RaunstrupAuth.Models.Tilbud

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Tilbud</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tid" />
            <div class="form-group">
                <label asp-for="Projekttitle" class="control-label"></label>
                <input asp-for="Projekttitle" class="form-control" />
                <span asp-validation-for="Projekttitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rid" class="control-label"></label>
                <select asp-for="Rid" class="form-control" asp-items="ViewBag.Rid"></select>
                <span asp-validation-for="Rid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kid" class="control-label"></label>
                <select asp-for="Kid" class="form-control" asp-items="ViewBag.Kid"></select>
                <span asp-validation-for="Kid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Startdato" class="control-label"></label>
                <input asp-for="Startdato" class="form-control" />
                <span asp-validation-for="Startdato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
