@model Email



<form method="post">
    Navn:  <input asp-for="Navn" /> <br />
    Email:  <input asp-for="Mail" /> <br />
    Emne:  <input asp-for="Emne" /> <br />
    Besked: <input asp-for="Besked" /><br />
    <button type="submit">Send Besked</button>
</form>

