@model RaunstrupAuth.Models.Indkøbsliste

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Indkøbsliste</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tid" class="control-label">Tilbud Id</label>
                <select asp-for="Tid" class ="form-control" asp-items="ViewBag.Tid"></select>
            </div>
            <div class="form-group">
                <label asp-for="Varenummer" class="control-label"></label>
                <select asp-for="Varenummer" class ="form-control" asp-items="ViewBag.Varenummer"></select>
            </div>
            <div class="form-group">
                <label asp-for="Antal" class="control-label"></label>
                <input asp-for="Antal" class="form-control" />
                <span asp-validation-for="Antal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rid" class="control-label">Rabat</label>
                <select asp-for="Rid" class ="form-control" asp-items="ViewBag.Rid"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
