@model RaunstrupAuth.Models.Adresse

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Adresse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            @* det her er hvor vi kalder den viewbag som er metoden der er lavet i controlleren som gør vi kan vælge by ved navn *@
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Aid" />
            <div class="form-group">
                <label asp-for="Byid" class="control-label"></label>
                <select asp-for="Byid" class="form-control" asp-items="ViewBag.Byid"></select>
                <span asp-validation-for="Byid" class="text-danger"></span>
            </div>
            @* bare et input felt som kan tage værdien or sende til controleren *@
            <div class="form-group">
                <label asp-for="Vejnavn" class="control-label"></label>
                <input asp-for="Vejnavn" class="form-control" />
                <span asp-validation-for="Vejnavn" class="text-danger"></span>
            </div>
            @* bare et input felt som kan tage værdien or sende til controleren *@
            <div class="form-group">
                <label asp-for="Husnummer" class="control-label"></label>
                <input asp-for="Husnummer" class="form-control" />
                <span asp-validation-for="Husnummer" class="text-danger"></span>
            </div>
            @* En knap som submiter denne form data til controlleren *@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
