@model RaunstrupAuth.Models.Rabat

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rabat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Rabat Id
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.rabat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.rabat)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Rid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
